h2{
    text-align: center;
    padding-top: 5%;
    color: brown;
}
h3{
    color: red;
    padding-bottom: 2rem;
}
p{
    padding-bottom: 1rem;
    color: burlywood;
}

.search {
    width: 100%;
    padding: 3rem 0;
    align-items: center;
}

.search-col-2 {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}

.search .box {
    display: flex;
    max-width: 310px;
    align-items: center;
    margin: auto;
    text-align: center;
}

